body{
    background-image: linear-gradient(to right, #205072,#329D9C);
}

.map-frame {
    position: absolute;
    border-radius: 100px;
    width: 50vw;
    left: 30px;
    top: 100px;
    box-shadow: 0 0 0 10px #55c595;
    
}

.route-text {
    position: absolute;
    padding-left: 900px;
    top: 150px;
    font-family: 'Raleway', sans-serif;
}
.head-text {
    position: absolute; 
    padding-left: 880px;
    top: 100px;
    font-family: 'Raleway', sans-serif;
}
table {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
  }

  table, th, td {
    border: 1px solid black;
  }

  th, td {
    padding: 8px;
    text-align: left;
    font-family: 'Raleway', sans-serif;
    color: white;
  }

  th {
    background-color: #f2f2f200;
    font-weight: bold;
  }

  td {
    background-color: #f9f9f900;
    color: #ffffff;
  }
.head-t-text {
    color: white;
    font-family: 'Raleway', sans-serif;
}

.allo {
    position: absolute;
    left: 850px;
    top: 350px;
    font-family: 'Raleway', sans-serif;
}

.text-2 {
    position: absolute;
    left: 880px;
    top: 300px;
    font-family: 'Raleway', sans-serif;
}

.directions {
    background-color: white;
}


.getStartedButton{
    left: 300px;
    font-size: 17px;
    background-color: white;
    height: 50px;
    width: 120px;
    border-radius: 30px;
    overflow:hidden;
    transform: perspective(1px) translateZ(0);
    border-color: white;
    border-style: hidden;
    cursor:pointer;
    transition: all 0.2s cubic-bezier(.86, .01, .15, .99);
    color: black;
    font-family: 'Raleway', sans-serif;
  
  }
  #service-button-text{
    position: relative;
    z-index: 10000;
  }
  .getStartedButton::before {
      content: "";
      position: absolute;
      z-index: 1000;
      top: 0px;
      left: 0px;
      right: 0px;
      bottom: 0;
    clip-path: circle(0.5% at 50% 50%);
      background: #205072;
      transition: 0.4s;
      opacity: 1;
  }
  .getStartedButton:hover {
      color: white;
      box-shadow: 0 0 0 10px rgba(250, 250, 250, 0.1)
  }
  
  .getStartedButton:hover::before {
      clip-path: circle(100% at 50% 50%);
  }

  .dir-div {
    padding-left: 900px;
    padding-top:550px
  }